<%= form_tag(flights_path, method: :get) do  %>
    <h2> Search Flights </h2>

    <%= select_tag(:from, options_for_select(@airports, @from_chosen), prompt: "From")%>

    <%= select_tag(:to, options_for_select(@airports, @to_chosen), prompt: "To")%>

    <%= select_tag(:date, options_for_select(@dates, @date_chosen), prompt: "Date")%>

    <%= select_tag(:passengers, options_for_select(@passengers, @passengers_chosen), prompt: "Passengers")%>


    <div class="Submit">
      <%= submit_tag("Find Flights") %>
    </div>

<% end %>

